* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Changed background to box-sizing */
}

body {
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
}

html{
  font-size: 92.5%;

}
img {
  width: 5%;
}

a {
   -webkit-tap-highlight-color: transparent;  /* not a standard one,dont use in production level; */
  text-decoration: none;
  color: black;

}




main {
  height: 90vh;
  margin-top: 10.0rem;
  position: relative;
}

.connection {
  height: 105vh;
}

.profile-image img {
  width: 100%;
}

.btn {
  padding: 0.625rem 2.5rem;
  font-size: 1.125rem;
  display: inline-block;
  background: border-box;
  border-radius: 0.313rem;
  margin-left: 5.313rem;
  margin-top: 1.25rem;
  background-color: rgb(0, 153, 255);
}

.random {
  margin-left: 1.875rem;
  padding:0.625rem ;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
}

.head .container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}

li {
  list-style: none;
}

.nav-bar ul {
  padding: 0.625rem;
  display: flex;
  gap: 3.2rem;
  text-transform: capitalize;
  align-items: center;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.nav-bar ul li a {
  position: relative;
}

.nav-bar ul li a:after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 0%;
  border-bottom: 0.1rem solid #0047AB;
  transition: all 0.3s linear;
}

.nav-bar ul li a:hover {
  color: #0047AB;
}

.nav-bar ul li a:hover:after {
  width: 100%;
}

.prime {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-top: 3.75rem ;
  margin: 3.125rem;
}

.primary {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  position: relative;
  padding: 2rem;
}

h1 {
  padding:  0.625rem 3.75rem;
  margin-left: 1.875rem;
  margin-top: 1.875rem;
  font-size: 3.438rem;
  color: #dee4ea;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1 span {
  position: relative;
  background: linear-gradient(179.5deg, rgb(255, 230, 69) 3.3%, rgb(255, 157, 73) 96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-one {
  margin-top: 50px;
}

p {
  margin-left: 4.063rem;
  margin-top: -0.625rem;
  padding: 1.563rem;
  font-size: 1.438rem;
  color: white;
  line-height: 1.5;
  text-align: justify;
  font-family: monospace;
}

p span {
  color: aquamarine;
  font-weight: 600;
}

h3 {
  font-size: xx-large;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-left: 5rem;
  margin-top: 5rem;
  padding: 1.875rem;
  color: yellow;
}

.about-2 {
  margin-top:6.25rem ;
}

.connect-heading {
  margin-top: 6.25rem;
  padding-top: 6.25rem;
  margin-left: 0rem;
  text-align: center;
  font-size: 4rem;
}

.project ul {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  align-items: center;
  margin-left: 5rem;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  margin-top: 2.5rem;
}

.names {
  padding: 2.5rem;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 3.125rem;
  margin-bottom:1.25rem;
  margin-left: 28.125rem;
  margin-right: 28.125rem;
  align-items: center;
  font-size: 1.25rem;
  border-radius: 0.625rem;
  background-color: #2b4162;
}
.names img{
  width: 35%;
}

.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.625rem;
  margin-left: 39.375rem;
  margin-bottom: 1.25rem;
  margin-top: 2.5rem;
  padding:1.875rem ;
  text-align: center;
}
.links img{
  width: 10%;
  margin-left: -40rem;
}
.link-list a {
  margin-right: 2.5rem;
  padding:1.563rem ;
}

.info ul {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  
  gap:3.75rem ;
  padding: 3.125rem;
  margin-top: 1.25rem;
  margin-left: 4.375rem;
  margin-right: 3.75rem;
  border-radius: 0.625rem;
}

.list-projects a {
  text-decoration: none;
  color: white;
}




.about p {
  margin-right: 6.25rem;
  margin-left: 6.25rem;
  text-align: justify;
  line-height: 1.9;
}

@media (width<=1280px) {
  main{
    display: flex;
    flex-direction:column;
  justify-content: center;
  align-items: center;
    height: 100vh;

  }
  html{
    font-size: 60.5%;
  }
  p{
    font-size:2rem;
  }
  .project img{
    width: 50%;
  }
  .icon-list img{
    width:6%
  }
  .connection{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom:0rem;
  }
  
}
@media (width<=880px) {
  main{
    height: 120vh;
    
  }
  .primary{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;}

    .profile-image{
      width: 100%;
    }

  html{
    font-size: 50.5%;
  }
  p{
    font-size:2.5rem;
  }
  .project img{
    width: 50%;
  }
  .icon-list img{
    width:8%
  }
  .info ul {
justify-content: start;
}
.connection{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.links img{
  width: 15%;
}
.connect-heading{
  font-size: 5rem;}
}

@media (width<=672px) {
  main{
    height: 100vh;
  justify-content: center;
  align-items: center;


  }
  .primary{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  html{
    font-size: 40.5%;
  }
  h3{
    font-size:4rem;
  }
  p{
    font-size: 3rem ;
  }
  .project img{
    width: 50%;
  }
  .icon-list img{
    width:10%
  }
  .links img{
    width: 20%;
  }
  .connect-heading{
    font-size: 5rem;}
}

@media (width<=500px) {
  
  main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }


  html{
    font-size: 35.5%;
  }
  h1{
    font-size: 5rem;
    padding: 2rem;
    margin-left: 4rem;
  }
  .primary{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30rem;
  }

  h3{
    font-size:2.5rem;
    margin-top:6rem;
  }
  .about-2{
    margin-top: 10rem;
  }
  p{
    font-size: 2rem ;
  }
  
  .project img{
    width: 100%;
  }
  .icon-list img{
    width:10%
  }
 
.project a{
  width: 110px;
padding: 0rem 5rem;
text-align:center ;
font-size: 2rem;
}



.nav-bar{
  margin: 0.8rem;
  font-size: 1.75rem;
}
.random{
  font-size: 2.5rem;
}

.connection{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: -20rem;
  margin-bottom:0rem;
}
.links img{
  width: 20%;
  margin-left: -20rem;
}
.connect-heading{
  font-size: 5rem;
  margin-left: 20rem;
}

}